@import "../Styles/color.scss";

.bio {
  width: 350px;
  height: 100%;
  margin-left: 50px;
  padding: 30px 20px;
  background-color: $white;

  .bio-image {
    text-align: center;
    margin-bottom: 10px;
  }

  .author-name {
    font-size: 18px;
  }

  .author-summary {
    color: $gray;
    font-size: 14px;
  }

  p {
    text-align: center;
  }
}