@import "../organisms/Styles/color.scss";


.main-contents {
  display: flex;
  flex-direction: row;

  .post-card-list {
    width: 750px;
  
    .post-card {
      margin-bottom: 30px;
      background: $white;
    }
  }
}