@import '../Styles/color.scss';

.bio {
  padding: 30px 20px;
  background-color: $white;

  .bio-image {
    text-align: center;
    margin-bottom: 10px;
  }

  .author-profile {
    text-align: center;
    padding: 5px 0;

    .author-name {
      font-size: 18px;
      padding-bottom: 10px;
    }

    .author-summary {
      color: $gray;
      font-size: 14px;
      padding-bottom: 20px;
    }
  }


  p {
    text-align: center;
  }

  a {
    font-size: 14px;
  }
}
