@import '../Styles/color.scss';


.global-header {
  height: 60px;
  position: relative;
  box-shadow: 0.5px 0.1px 5px $gray;
  background: $white;

  .header-container {
    width: 1150px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    height: 100%;

    .header-left {
      width: 100%;
      display: flex;
      padding-right: auto;

      h1 {
        margin: 0;
        display: flex;
        a {
          display: flex;
          align-items: center;
        }
      }

      .header-title {
        display: flex;
        a {
          display: flex;
          align-items: center;
        }
      }
    }

    .header-right {
      // opacity: 0;
      // animation: fadein 1.5s cubic-bezier(1,0,1,0) forwards;
      // @keyframes fadein {
      //   100% { opacity: 1; }
      // }
      color: $main-color;
      display: flex;
      flex-direction: row;

      .header-right-icon {
        display: flex;
        a {
          margin: auto 0;
          display: flex;
          align-items: center;
          padding: 0 20px;

          .font-size {
            font-size: 13px;
          }
        }
        #r {
          border-left: solid 0.5px $gray-line;
        }
      }

      .header-right-bar {
        margin-left: 5px;
        border-left: solid 0.5px $gray-line;
        border-right: solid 0.5px $gray-line;
        display: flex;
        a {
          display: flex;
          align-items: center;
          padding: 0 20px;

          .font-size {
            font-size: 20px;
          }
        }
      }

      a:link, a:visited, a:active {
        color: $main-color;
      }
      a:hover {
        color: $main-color-hover;
      }
      
    }
  }
}