@import "../../organisms/Styles/color.scss";
@import "../../organisms/Styles/media-query.scss";


.main-contents {
  display: flex;
  flex-direction: row;

  @include mq(lg) {
    flex-direction: column;
  }

  .post-card-list {
    max-width: 750px;

    @include mq(md) {
      min-width: 750px;
    }

    @include mq(lg) {
      max-width: 1015px;
    }

    ol {
      margin: 0;
    }
  
    .post-card {
      margin-bottom: 20px;
      background: $white;

      .card-header {
        padding-top: 10px;

        .card-title {
          padding: 0 20px;

          h2 {
            margin-bottom: 16px;
          }

          a {
            color: $gray;
            text-decoration: none;

            &:hover {
              color: $main-color-hover;
            }
          }

          .header-description {
            display: flex;
            flex-direction: row;
            line-height: 23px;
  
            @include mq(mm) {
              flex-direction: column;
            }
  
            .header-link {
              display: flex;
            }
  
            p {
              color: $gray-hover;
              margin: 0;
              font-size: 14px;
            }
    
            .slug-list {
              padding-left: 5px;
              display: flex;
              flex-direction: row;
            }
  
            .icon {
              margin-left: 10px;
              padding-right: 5px;
              line-height: 23px;
              border-right: 0.5px solid $gray-line;
            }
    
            .header-category {
              display: flex;
              flex-direction: row;
            }
    
            .header-tag {
              display: flex;
              flex-direction: row;
            }
    
            a {
              color: $gray;
              font-size: 14px;
              margin-right: 5px;
              text-decoration: underline;
    
              &:hover {
                color: #646464;
              }
            }
          }
        }

        .card-image {
          position: relative;
          overflow: hidden;

          :hover {
            opacity: 1;
            
            &::after {
              opacity: 0.3;
              position: absolute;
              content: "";
              display: block;
              width: 100%;
              height: 100%;
              background: $gray no-repeat center center;
              background-size: cover;
            }
          }

        }
      }

      .card-description {
        font-size: 14px;
        padding: 20px;

        .read-more {
          margin-top: 20px;
          display: block;
          text-align: center;
        }

        a {
          padding: 10px;
          border: solid 0.5px;
          color: $gray;
          text-decoration: none;
          border-radius: 3px;

          &:hover {
            color: $main-color-hover;
          }
        }
      }
    }
  }
}